################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/WindowsInfrastructure/AuxsineDesktopClient/.vs/AuxsineDesktopClient
/WindowsInfrastructure/AuxsineDesktopClient/AuxsineDesktopClient/obj
